.carousel{
  width: 100%;
  overflow: scroll;
  padding-left: 20px;
  position: relative;
}
.carousel__container{
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel-item{
  background-color: blue;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}
.carousel-item:hover ~ .carousel-item{
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel-item__details{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  flex-flow: column;
  justify-content: flex-end;
  color:white;
}
.carousel-item__details:hover{
  opacity: 1;
}

.carousel-item__details p{
    margin:2px 0px;
}

.carousel-item__details--title{
    font-size: 12px;
}
.carousel-item__icon{
  width: 25px;
  height: 25px;
}
.carousel::-webkit-scrollbar {
  width: 10px;
  background-color: #2211cc;
  background-image: linear-gradient(90deg, #2211cc 0%, #3156e4 36%, #0093E9 65%, #21c08b 92%);
}

.carousel::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 20px solid linear-gradient(90deg, #2211cc 0%, #3156e4 36%, #0093E9 65%, #21c08b 92%);
} 