body {
  margin: 0px;
  font-family: 'Mulish', sans-serif;
  /* background-color: #2211cc;
  background-image: linear-gradient(90deg, #2211cc 0%, #3156e4 36%, #0093E9 65%, #21c08b 92%); */
}
.header {
background: #2211cc;
color: white;
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.header__img {
width: 150px;
margin-top: 5px;
margin-left: 10px;
}
.login {
  background: linear-gradient(#2211cc 0%, #21c08b 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form{
  display: flex;
  flex-direction: column;
  color: white;
}
.login__container--form label{
  font-size: 14px;
}
.login__container--remember-me{
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover{
  text-decoration: underline;
}
.login__container--social-media > div{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}
.login__container--social-media > div:hover{
  text-decoration: underline;
  color:aqua;
}
.login__container--social-media > div > img{
  width: 30px;
  margin-right: 10px;
}
.login__container--register{
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.login__container--register a{
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.login__container--register a:hover{
  text-decoration: underline;
  color:aqua;
}
.input{
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
}
.input:hover{
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  border-radius: 10px;
  color:aqua;
}
::placeholder{
  color: white;
}
.button{
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
  outline: none;
}
.button:hover{
  background-color: rgba(7, 247, 247, 0.4);
  color:aqua;
}
.footer{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #21c08b;
}
.footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
  color:aqua;
}
@media only screen and (max-width: 600px){
  .header{
    display: block;
    text-align: center;
  }
  .login__container h2{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-top: 60px;
    color: aqua;
  }
  .login__container{
    min-height: 480px;
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }  
  .footer{
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  .login__container--social-media > div{
    justify-content: center;
  }
  .login__container--register{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .login__container--register a{
    letter-spacing: 1px;
  }
  .header__img {
    width: 200px;
  }
}